---
layout: default
title: Bots
permalink: /bots
categories: Página
---
<style>#nav-4{border-bottom: 3px solid #0088cc;}</style>
<section class="tg_categories">
    <div class="tg_cards">
        <div class="tg_card_title">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="131.082 26.918 24 24" width="24pt" height="24pt"><g><rect x="131.082" y="26.918" width="24" height="24" transform="matrix(1,0,0,1,0,0)" fill="none"/><path d=" M 137.082 38.934 C 137.074 38.106 137.739 37.427 138.566 37.418 C 139.394 37.409 140.073 38.074 140.082 38.902 C 140.091 39.73 139.426 40.409 138.598 40.418 C 137.77 40.426 137.091 39.761 137.082 38.934 L 137.082 38.934 L 137.082 38.934 L 137.082 38.934 L 137.082 38.934 Z  M 146.082 38.934 C 146.074 38.106 146.739 37.427 147.566 37.418 C 148.394 37.409 149.073 38.074 149.082 38.902 C 149.091 39.73 148.426 40.409 147.598 40.418 C 146.77 40.426 146.091 39.761 146.082 38.934 L 146.082 38.934 L 146.082 38.934 L 146.082 38.934 Z  M 139.531 43.418 L 146.634 43.418 C 147.157 43.418 147.582 43.843 147.582 44.366 L 147.582 44.469 C 147.582 44.993 147.157 45.418 146.634 45.418 L 139.531 45.418 C 139.007 45.418 138.582 44.993 138.582 44.469 L 138.582 44.366 C 138.582 43.843 139.007 43.418 139.531 43.418 L 139.531 43.418 Z  M 142.082 30.918 C 142.082 30.648 142.192 30.398 142.372 30.208 C 142.562 30.028 142.812 29.918 143.082 29.918 C 143.352 29.918 143.602 30.028 143.792 30.208 C 143.972 30.398 144.082 30.648 144.082 30.918 C 144.082 31.188 143.972 31.438 143.792 31.628 C 143.602 31.808 143.352 31.918 143.082 31.918 C 142.812 31.918 142.562 31.808 142.372 31.628 C 142.192 31.438 142.082 31.188 142.082 30.918 L 142.082 30.918 L 142.082 30.918 L 142.082 30.918 L 142.082 30.918 L 142.082 30.918 L 142.082 30.918 Z  M 151.082 46.918 L 135.082 46.918 L 135.082 35.918 L 151.082 35.918 L 151.082 46.918 L 151.082 46.918 L 151.082 46.918 L 151.082 46.918 L 151.082 46.918 L 151.082 46.918 L 151.082 46.918 Z  M 143.832 32.772 L 143.832 33.918 L 152.047 33.918 C 152.619 33.918 153.082 34.381 153.082 34.953 L 153.082 47.883 C 153.082 48.454 152.619 48.918 152.047 48.918 L 134.117 48.918 C 133.546 48.918 133.082 48.454 133.082 47.883 L 133.082 34.953 C 133.082 34.381 133.546 33.918 134.117 33.918 L 134.117 33.918 L 142.332 33.918 L 142.332 33.918 L 142.332 32.772 C 141.6 32.475 141.082 31.756 141.082 30.918 L 141.082 30.918 C 141.082 29.814 141.979 28.918 143.082 28.918 C 144.186 28.918 145.082 29.814 145.082 30.918 C 145.082 31.756 144.565 32.475 143.832 32.772 L 143.832 32.772 L 143.832 32.772 L 143.832 32.772 L 143.832 32.772 L 143.832 32.772 Z " fill-rule="evenodd" /></g></svg>
            <span class="tg_card_title_title">Bots</span>
        </div>
        <span class="tg_card_sub">Todos os bots adicionados</span>
    </div>
    <div class="tg_user_info_post">
        {% for post in site.categories.Bot%}
        <div class="tg_info_post">
            <img src="{{post.image}}" alt="{{page.categories}}: {{page.title}}" width="64px" height="64px">
            <div class="tg_info_content">
            <span class="tg_info_post_title">{{post.title}}</span>
            <span class="tg_info_post_desc">{{post.content | truncate: 128}}</span>
            </div>
            <a href="{{post.url | prepend: site.url}}"><button class="tg_info_post_btn">Veja o grupo</button></a>
        </div>
        {%endfor%}
    </div>
</section>
