---
layout: default
title: Canais
permalink: /canais
categories: Página
---
<style>#nav-2{border-bottom: 3px solid #0088cc;}</style>
<section class="tg_categories">
    <div class="tg_cards">
        <div class="tg_card_title">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="235.247 26.92 24 24" width="24pt" height="24pt"><g><rect x="235.247" y="26.92" width="24" height="24" transform="matrix(1,0,0,1,0,0)" fill="none"/><path d=" M 242.195 46.35 L 240.751 46.35 C 240.657 46.182 240.584 45.994 240.553 45.806 C 240.458 45.471 240.406 45.126 240.385 44.781 L 241.462 44.781 C 241.536 44.979 241.609 45.168 241.693 45.345 C 241.849 45.691 242.017 46.025 242.195 46.35 L 242.195 46.35 L 242.195 46.35 Z  M 241.922 40.114 L 239.339 40.114 L 239.339 34.885 L 241.922 34.885 L 241.922 40.114 L 241.922 40.114 L 241.922 40.114 Z  M 239.692 42.689 L 242.137 42.695 C 242.715 42.697 243.255 43.161 243.344 43.732 C 243.458 44.466 244.535 46.305 245.384 47.57 C 245.706 48.049 245.499 48.439 244.922 48.439 L 240.738 48.439 C 240.161 48.439 239.414 48.061 239.072 47.597 C 238.475 46.787 238.105 44.849 238.392 43.701 C 238.532 43.141 239.115 42.687 239.692 42.689 L 239.692 42.689 L 239.692 42.689 Z  M 238.293 32.793 L 242.971 32.793 C 243.548 32.793 244.017 33.262 244.017 33.839 L 244.017 41.16 C 244.017 41.738 243.548 42.206 242.971 42.206 L 238.293 42.206 C 237.716 42.206 237.247 41.738 237.247 41.16 L 237.247 33.839 C 237.247 33.262 237.716 32.793 238.293 32.793 L 238.293 32.793 L 238.293 32.793 Z  M 253.982 43.001 L 246.66 40.679 L 246.66 34.32 L 253.982 31.998 L 253.982 43.001 L 253.982 43.001 L 253.982 43.001 Z  M 256.073 35.347 L 256.073 30.178 C 256.073 29.601 255.627 29.274 255.077 29.45 L 245.565 32.476 L 245.565 32.476 C 245.015 32.651 244.568 33.262 244.568 33.839 L 244.568 41.16 C 244.568 41.738 245.015 42.348 245.565 42.523 L 255.077 45.55 C 255.627 45.725 256.073 45.398 256.073 44.821 L 256.073 39.651 C 256.779 39.194 257.247 38.401 257.247 37.5 C 257.247 36.598 256.779 35.805 256.073 35.347 L 256.073 35.347 Z " fill-rule="evenodd"/></g></svg>
            <span class="tg_card_title_title">Canais</span>
        </div>
        <span class="tg_card_sub">Todos os canais adicionados</span>
    </div>
    <div class="tg_user_info_post">
        {% for post in site.categories.Canal%}
        <div class="tg_info_post">
            <img src="{{post.image }}" alt="{{page.categories}}: {{page.title}}" width="64px" height="64px">
            <div class="tg_info_content">
            <span class="tg_info_post_title">{{post.title}}</span>
            <span class="tg_info_post_desc">{{post.content | truncate: 128}}</span>
            </div>
            <a href="{{post.url | prepend: site.url}}"><button class="tg_info_post_btn">Veja o canal</button></a>
        </div>
        {%endfor%}
    </div>   
</section>
