---
layout: default
title: Dúvidas
permalink: /duvidas
categories: Página
---
<section class="tg_categories">
    <div class="tg_termos_header">
        <h1>Dúvidas</h1>
        <h2>Aqui será respondido suas dúvidas</h2>
    </div>
    <div class="tg_termos_content" id="adicionar">
        <h1>Adicionar</h1>
        <h3>Para adicionar um canal grupo,bot ou figura, você deverá checar se ele se adequa aos nossos <a href="{{'/termos' | prepend: site.url }}">termos</a>, caso sim, verifique as <a href="{{'/tags' | prepend: site.url }}">tags disponíveis</a> e então envie o link do canal, grupo, bot ou figura para um post presente no canal oficial desse site.</h3>
        <h3>Caso possua GitHub ou GitLab, basta fazer um Pull Request para <a href="https://github.com/allytiago/telegram" target="_blank">esse repositório do gitlab</a> ou para <a href="https://github.com/allytiago/telegram" target="_blank">esse repositório do github</a>.</h3>
    </div>
</section>
