---
layout: default
title: Figuras
permalink: /figuras
categories: Página
---
<style>#nav-5{border-bottom: 3px solid #0088cc;}</style>
<section class="tg_categories">
    <div class="tg_cards">
        <div class="tg_card_title">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="391 26.967 24 24" width="24pt" height="24pt"><g><rect x="391" y="26.967" width="24" height="24" transform="matrix(1,0,0,1,0,0)" fill="none"/><path d=" M 413 42.967 L 413 42.967 L 413 29.967 C 413 29.416 412.552 28.967 412 28.967 L 394 28.967 C 393.448 28.967 393 29.416 393 29.967 L 393 47.967 C 393 48.519 393.448 48.967 394 48.967 L 406.465 48.967 L 407 48.967 L 407 48.967 L 407.49 48.967 C 408.808 46.462 410.655 44.63 413 43.442 L 413 42.967 Z  M 411 42.442 L 411 30.967 L 395 30.967 L 395 46.967 L 406.465 46.967 L 406.465 43.442 C 406.465 42.89 406.913 42.442 407.465 42.442 L 411 42.442 L 411 42.442 Z  M 407.46 43.437 L 407.46 43.437 L 411.04 43.437 C 410.36 43.907 409.73 44.427 409.15 45.007 C 408.53 45.637 407.96 46.327 407.46 47.057 L 407.46 43.437 L 407.46 43.437 Z " fill-rule="evenodd"/><circle vector-effect="non-scaling-stroke" cx="399.5" cy="36.08682296458094" r="1.5" /><circle vector-effect="non-scaling-stroke" cx="406.5" cy="36.08682296458094" r="1.5" /><path d=" M 407.754 41.937 L 408.64 41.527 C 408.76 41.477 408.85 41.377 408.9 41.247 C 408.95 41.127 408.94 40.987 408.88 40.867 C 408.83 40.747 408.73 40.657 408.6 40.607 C 408.48 40.557 408.34 40.567 408.22 40.627 L 405.51 41.877 C 405.14 42.037 404.75 42.157 404.36 42.227 C 403.91 42.317 403.46 42.357 403 42.347 C 402.54 42.357 402.09 42.317 401.64 42.227 C 401.25 42.157 400.86 42.037 400.49 41.877 L 397.78 40.627 C 397.66 40.567 397.52 40.557 397.4 40.607 C 397.27 40.657 397.17 40.747 397.12 40.867 C 397.06 40.987 397.05 41.127 397.1 41.247 C 397.15 41.377 397.24 41.477 397.36 41.527 L 400.08 42.787 C 400.08 42.787 400.08 42.787 400.08 42.787 C 400.52 42.987 400.99 43.127 401.47 43.217 C 401.97 43.307 402.49 43.357 403 43.347 C 403.51 43.357 404.03 43.307 404.53 43.217 C 405.01 43.127 405.48 42.987 405.92 42.787 C 405.92 42.787 405.92 42.787 405.92 42.787 L 406.174 42.669 C 406.236 42.564 406.312 42.465 406.4 42.377 C 406.69 42.097 407.07 41.937 407.46 41.937 L 407.754 41.937 Z " /></g></svg>
            <span class="tg_card_title_title">Figuras</span>
        </div>
        <span class="tg_card_sub">Ultimas figuras adicionados</span>
    </div>
    <div class="tg_user_info_post">
        {% for post in site.categories.Sticker limit: 5%}
        <div class="tg_info_post">
            <img src="{{post.image }}" alt="{{page.categories}}: {{page.title}}" width="64px" height="64px">
            <div class="tg_info_content">
            <span class="tg_info_post_title">{{post.title}}</span>
            <span class="tg_info_post_desc">{{post.content | truncate: 128}}</span>
            </div>
            <a href="{{post.url | prepend: site.url}}"><button class="tg_info_post_btn">Veja o pacote</button></a>
        </div>
        {%endfor%}
    </div>
</section>
