---
layout: default
---
<style>#nav-1{border-bottom: 3px solid #0088cc;}</style>
<section class="tg_categories">
    <div class="tg_cards" id="canais">
        <div class="tg_card_title">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="235.247 26.92 24 24" width="24pt" height="24pt"><g><rect x="235.247" y="26.92" width="24" height="24" transform="matrix(1,0,0,1,0,0)" fill="none"/><path d=" M 242.195 46.35 L 240.751 46.35 C 240.657 46.182 240.584 45.994 240.553 45.806 C 240.458 45.471 240.406 45.126 240.385 44.781 L 241.462 44.781 C 241.536 44.979 241.609 45.168 241.693 45.345 C 241.849 45.691 242.017 46.025 242.195 46.35 L 242.195 46.35 L 242.195 46.35 Z  M 241.922 40.114 L 239.339 40.114 L 239.339 34.885 L 241.922 34.885 L 241.922 40.114 L 241.922 40.114 L 241.922 40.114 Z  M 239.692 42.689 L 242.137 42.695 C 242.715 42.697 243.255 43.161 243.344 43.732 C 243.458 44.466 244.535 46.305 245.384 47.57 C 245.706 48.049 245.499 48.439 244.922 48.439 L 240.738 48.439 C 240.161 48.439 239.414 48.061 239.072 47.597 C 238.475 46.787 238.105 44.849 238.392 43.701 C 238.532 43.141 239.115 42.687 239.692 42.689 L 239.692 42.689 L 239.692 42.689 Z  M 238.293 32.793 L 242.971 32.793 C 243.548 32.793 244.017 33.262 244.017 33.839 L 244.017 41.16 C 244.017 41.738 243.548 42.206 242.971 42.206 L 238.293 42.206 C 237.716 42.206 237.247 41.738 237.247 41.16 L 237.247 33.839 C 237.247 33.262 237.716 32.793 238.293 32.793 L 238.293 32.793 L 238.293 32.793 Z  M 253.982 43.001 L 246.66 40.679 L 246.66 34.32 L 253.982 31.998 L 253.982 43.001 L 253.982 43.001 L 253.982 43.001 Z  M 256.073 35.347 L 256.073 30.178 C 256.073 29.601 255.627 29.274 255.077 29.45 L 245.565 32.476 L 245.565 32.476 C 245.015 32.651 244.568 33.262 244.568 33.839 L 244.568 41.16 C 244.568 41.738 245.015 42.348 245.565 42.523 L 255.077 45.55 C 255.627 45.725 256.073 45.398 256.073 44.821 L 256.073 39.651 C 256.779 39.194 257.247 38.401 257.247 37.5 C 257.247 36.598 256.779 35.805 256.073 35.347 L 256.073 35.347 Z " fill-rule="evenodd"/></g></svg>
            <span class="tg_card_title_title">Canais</span>
        </div>
        <span class="tg_card_sub">Ultimos canais adicionados</span>
    </div>
    <div class="tg_user_info_post">
        {% for post in site.categories.Canal limit: 5%}
        <div class="tg_info_post">
            <img src="{{post.image }}" alt="{{page.categories}}: {{page.title}}" width="64px" height="64px">
            <div class="tg_info_content">
            <span class="tg_info_post_title">{{post.title}}</span>
            <span class="tg_info_post_desc">{{post.content | truncate: 128}}</span>
            </div>
            <a href="{{post.url | prepend: site.url}}"><button class="tg_info_post_btn">Veja o canal</button></a>
        </div>
        {%endfor%}
    </div>
    <a href="{{'/canais' | prepend: site.url }}"><button class="tg_more_link">Veja todos os canais</button></a>

    <div class="tg_cards" id="grupos">
        <div class="tg_card_title">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="443.082 26.918 24 24" width="24pt" height="24pt"><g><rect x="443.082" y="26.918" width="24" height="24" transform="matrix(1,0,0,1,0,0)" fill="none"/><path d=" M 461.862 46.22 L 461.862 46.22 C 461.979 46.225 462.096 46.227 462.214 46.228 C 462.553 46.228 462.891 46.211 463.221 46.169 C 463.289 46.161 463.348 46.152 463.407 46.135 L 463.407 46.034 C 463.407 45.425 463.306 44.815 463.111 44.232 C 462.917 43.622 462.629 43.047 462.248 42.531 C 461.91 42.074 461.487 41.685 460.996 41.397 C 460.87 41.326 460.738 41.264 460.605 41.207 C 460.454 40.942 460.286 40.687 460.104 40.439 C 459.801 40.02 459.451 39.637 459.047 39.316 C 459.184 39.303 459.323 39.298 459.465 39.298 C 463.135 39.314 465.249 43.264 465.096 46.368 C 465.022 47.855 463.609 48.008 460.965 47.884 L 460.965 47.884 C 461.194 47.729 461.39 47.533 461.544 47.299 C 461.738 46.978 461.848 46.6 461.862 46.22 L 461.862 46.22 L 461.862 46.22 L 461.862 46.22 L 461.862 46.22 Z  M 459.34 33.621 C 459.382 33.614 459.424 33.613 459.467 33.613 C 459.915 33.613 460.347 33.791 460.66 34.104 C 460.981 34.425 461.159 34.857 461.159 35.305 C 461.159 35.753 460.981 36.185 460.66 36.498 C 460.347 36.819 459.915 36.997 459.467 36.997 C 459.034 36.997 458.617 36.831 458.308 36.529 C 458.236 36.611 458.161 36.691 458.084 36.769 C 457.754 37.099 457.375 37.369 456.965 37.572 L 456.965 37.572 C 457.58 38.258 458.474 38.687 459.467 38.687 C 461.335 38.687 462.851 37.171 462.851 35.303 C 462.851 33.435 461.335 31.919 459.467 31.919 C 459.291 31.919 459.118 31.932 458.951 31.965 C 459.196 32.48 459.328 33.044 459.34 33.621 L 459.34 33.621 L 459.34 33.621 L 459.34 33.621 L 459.34 33.621 Z  M 449.505 41.216 C 449.393 41.27 449.281 41.325 449.173 41.388 C 448.682 41.684 448.259 42.073 447.929 42.547 C 447.549 43.071 447.253 43.663 447.058 44.281 C 446.863 44.873 446.762 45.499 446.753 46.125 L 446.753 46.125 L 446.753 46.125 C 446.813 46.134 446.872 46.151 446.94 46.151 C 447.286 46.193 447.633 46.21 447.989 46.21 C 448.067 46.209 448.145 46.208 448.223 46.205 C 448.227 46.586 448.336 46.966 448.541 47.298 C 448.693 47.528 448.891 47.723 449.12 47.872 C 446.497 47.976 445.113 47.825 445.065 46.366 L 445.065 46.366 L 445.065 46.366 C 444.96 43.221 447.089 39.282 450.696 39.297 C 450.82 39.298 450.941 39.303 451.06 39.315 C 450.652 39.648 450.298 40.042 449.991 40.468 C 449.816 40.709 449.654 40.959 449.505 41.216 L 449.505 41.216 L 449.505 41.216 L 449.505 41.216 Z  M 450.755 33.615 C 450.736 33.612 450.717 33.612 450.698 33.612 C 450.25 33.612 449.818 33.789 449.505 34.102 C 449.184 34.424 449.006 34.855 449.006 35.304 L 449.006 35.304 L 449.006 35.304 C 449.006 35.752 449.184 36.184 449.505 36.497 C 449.818 36.818 450.25 36.996 450.698 36.996 C 451.114 36.996 451.515 36.843 451.818 36.561 C 451.88 36.632 451.945 36.701 452.011 36.768 C 452.354 37.111 452.749 37.389 453.18 37.591 C 452.566 38.266 451.681 38.686 450.698 38.686 C 448.83 38.686 447.314 37.17 447.314 35.302 L 447.314 35.302 L 447.314 35.302 C 447.314 33.434 448.83 31.918 450.698 31.918 C 450.851 31.918 451.002 31.928 451.149 31.951 C 450.902 32.468 450.768 33.035 450.755 33.615 L 450.755 33.615 L 450.755 33.615 Z  M 450.624 45.901 C 450.633 45.197 450.747 44.493 450.966 43.827 C 451.185 43.132 451.518 42.465 451.947 41.875 C 452.318 41.342 452.794 40.905 453.346 40.571 C 453.86 40.276 454.44 40.124 455.03 40.124 L 455.049 40.124 C 455.659 40.124 456.258 40.286 456.782 40.581 C 457.334 40.905 457.81 41.342 458.19 41.856 C 458.619 42.437 458.942 43.084 459.161 43.769 C 459.38 44.426 459.494 45.111 459.494 45.797 L 459.494 45.911 C 459.428 45.93 459.361 45.939 459.285 45.949 C 458.914 45.997 458.533 46.016 458.152 46.016 C 457.162 46.006 456.182 45.959 455.192 45.892 C 455.116 45.882 455.04 45.882 454.954 45.882 L 454.888 45.892 C 454.888 45.892 454.878 45.892 454.869 45.892 C 453.917 45.949 452.965 45.987 452.013 45.997 C 451.613 45.997 451.223 45.978 450.833 45.93 C 450.757 45.93 450.69 45.911 450.624 45.901 L 450.624 45.901 L 450.624 45.901 L 450.624 45.901 Z  M 448.724 46.172 C 448.606 42.634 451.002 38.202 455.059 38.219 C 459.188 38.237 461.566 42.68 461.394 46.172 C 461.297 48.139 459.116 48.032 455.056 47.786 C 450.966 47.996 448.789 48.119 448.724 46.172 L 448.724 46.172 L 448.724 46.172 L 448.724 46.172 Z  M 453.158 33.727 C 453.158 33.222 453.358 32.737 453.719 32.375 C 454.071 32.023 454.557 31.823 455.061 31.823 C 455.566 31.823 456.051 32.023 456.403 32.375 C 456.765 32.737 456.965 33.222 456.965 33.727 C 456.965 34.231 456.765 34.717 456.403 35.069 C 456.051 35.431 455.566 35.631 455.061 35.631 C 454.557 35.631 454.071 35.431 453.719 35.069 C 453.358 34.717 453.158 34.231 453.158 33.727 L 453.158 33.727 L 453.158 33.727 Z  M 451.254 33.725 C 451.254 31.624 452.96 29.918 455.061 29.918 C 457.162 29.918 458.868 31.624 458.868 33.725 C 458.868 35.826 457.162 37.532 455.061 37.532 C 452.96 37.532 451.254 35.826 451.254 33.725 L 451.254 33.725 L 451.254 33.725 Z " fill-rule="evenodd" /></g></svg>
            <span class="tg_card_title_title">Grupos</span>
        </div>
        <span class="tg_card_sub">Ultimos grupos adicionados</span>
    </div>
    <div class="tg_user_info_post">
        {% for post in site.categories.Grupo limit: 5%}
        <div class="tg_info_post">
            <img src="{{post.image }}" alt="{{page.categories}}: {{page.title}}" width="64px" height="64px">
            <div class="tg_info_content">
            <span class="tg_info_post_title">{{post.title}}</span>
            <span class="tg_info_post_desc">{{post.content | truncate: 128}}</span>
            </div>
            <a href="{{post.url | prepend: site.url}}"><button class="tg_info_post_btn">Veja o grupo</button></a>
        </div>
        {%endfor%}
    </div>
    <a href="{{'/grupos' | prepend: site.url }}"><button class="tg_more_link">Veja todos os grupos</button></a>

    <div class="tg_cards" id="bots">
        <div class="tg_card_title">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="131.082 26.918 24 24" width="24pt" height="24pt"><g><rect x="131.082" y="26.918" width="24" height="24" transform="matrix(1,0,0,1,0,0)" fill="none"/><path d=" M 137.082 38.934 C 137.074 38.106 137.739 37.427 138.566 37.418 C 139.394 37.409 140.073 38.074 140.082 38.902 C 140.091 39.73 139.426 40.409 138.598 40.418 C 137.77 40.426 137.091 39.761 137.082 38.934 L 137.082 38.934 L 137.082 38.934 L 137.082 38.934 L 137.082 38.934 Z  M 146.082 38.934 C 146.074 38.106 146.739 37.427 147.566 37.418 C 148.394 37.409 149.073 38.074 149.082 38.902 C 149.091 39.73 148.426 40.409 147.598 40.418 C 146.77 40.426 146.091 39.761 146.082 38.934 L 146.082 38.934 L 146.082 38.934 L 146.082 38.934 Z  M 139.531 43.418 L 146.634 43.418 C 147.157 43.418 147.582 43.843 147.582 44.366 L 147.582 44.469 C 147.582 44.993 147.157 45.418 146.634 45.418 L 139.531 45.418 C 139.007 45.418 138.582 44.993 138.582 44.469 L 138.582 44.366 C 138.582 43.843 139.007 43.418 139.531 43.418 L 139.531 43.418 Z  M 142.082 30.918 C 142.082 30.648 142.192 30.398 142.372 30.208 C 142.562 30.028 142.812 29.918 143.082 29.918 C 143.352 29.918 143.602 30.028 143.792 30.208 C 143.972 30.398 144.082 30.648 144.082 30.918 C 144.082 31.188 143.972 31.438 143.792 31.628 C 143.602 31.808 143.352 31.918 143.082 31.918 C 142.812 31.918 142.562 31.808 142.372 31.628 C 142.192 31.438 142.082 31.188 142.082 30.918 L 142.082 30.918 L 142.082 30.918 L 142.082 30.918 L 142.082 30.918 L 142.082 30.918 L 142.082 30.918 Z  M 151.082 46.918 L 135.082 46.918 L 135.082 35.918 L 151.082 35.918 L 151.082 46.918 L 151.082 46.918 L 151.082 46.918 L 151.082 46.918 L 151.082 46.918 L 151.082 46.918 L 151.082 46.918 Z  M 143.832 32.772 L 143.832 33.918 L 152.047 33.918 C 152.619 33.918 153.082 34.381 153.082 34.953 L 153.082 47.883 C 153.082 48.454 152.619 48.918 152.047 48.918 L 134.117 48.918 C 133.546 48.918 133.082 48.454 133.082 47.883 L 133.082 34.953 C 133.082 34.381 133.546 33.918 134.117 33.918 L 134.117 33.918 L 142.332 33.918 L 142.332 33.918 L 142.332 32.772 C 141.6 32.475 141.082 31.756 141.082 30.918 L 141.082 30.918 C 141.082 29.814 141.979 28.918 143.082 28.918 C 144.186 28.918 145.082 29.814 145.082 30.918 C 145.082 31.756 144.565 32.475 143.832 32.772 L 143.832 32.772 L 143.832 32.772 L 143.832 32.772 L 143.832 32.772 L 143.832 32.772 Z " fill-rule="evenodd" /></g></svg>
            <span class="tg_card_title_title">Bots</span>
        </div>
        <span class="tg_card_sub">Ultimos bots adicionados</span>
    </div>
    <div class="tg_user_info_post">
        {% for post in site.categories.Bot limit: 5%}
        <div class="tg_info_post">
            <img src="{{post.image }}" alt="{{page.categories}}: {{page.title}}" width="64px" height="64px">
            <div class="tg_info_content">
            <span class="tg_info_post_title">{{post.title}}</span>
            <span class="tg_info_post_desc">{{post.content | truncate: 128}}</span>
            </div>
            <a href="{{post.url | prepend: site.url}}"><button class="tg_info_post_btn">Veja o grupo</button></a>
        </div>
        {%endfor%}
    </div>
    <a href="{{'/bots' | prepend: site.url }}"><button class="tg_more_link">Veja todos os bots</button></a>

    <div class="tg_cards" id="bots">
        <div class="tg_card_title">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="391 26.967 24 24" width="24pt" height="24pt"><g><rect x="391" y="26.967" width="24" height="24" transform="matrix(1,0,0,1,0,0)" fill="none"/><path d=" M 413 42.967 L 413 42.967 L 413 29.967 C 413 29.416 412.552 28.967 412 28.967 L 394 28.967 C 393.448 28.967 393 29.416 393 29.967 L 393 47.967 C 393 48.519 393.448 48.967 394 48.967 L 406.465 48.967 L 407 48.967 L 407 48.967 L 407.49 48.967 C 408.808 46.462 410.655 44.63 413 43.442 L 413 42.967 Z  M 411 42.442 L 411 30.967 L 395 30.967 L 395 46.967 L 406.465 46.967 L 406.465 43.442 C 406.465 42.89 406.913 42.442 407.465 42.442 L 411 42.442 L 411 42.442 Z  M 407.46 43.437 L 407.46 43.437 L 411.04 43.437 C 410.36 43.907 409.73 44.427 409.15 45.007 C 408.53 45.637 407.96 46.327 407.46 47.057 L 407.46 43.437 L 407.46 43.437 Z " fill-rule="evenodd"/><circle vector-effect="non-scaling-stroke" cx="399.5" cy="36.08682296458094" r="1.5" /><circle vector-effect="non-scaling-stroke" cx="406.5" cy="36.08682296458094" r="1.5" /><path d=" M 407.754 41.937 L 408.64 41.527 C 408.76 41.477 408.85 41.377 408.9 41.247 C 408.95 41.127 408.94 40.987 408.88 40.867 C 408.83 40.747 408.73 40.657 408.6 40.607 C 408.48 40.557 408.34 40.567 408.22 40.627 L 405.51 41.877 C 405.14 42.037 404.75 42.157 404.36 42.227 C 403.91 42.317 403.46 42.357 403 42.347 C 402.54 42.357 402.09 42.317 401.64 42.227 C 401.25 42.157 400.86 42.037 400.49 41.877 L 397.78 40.627 C 397.66 40.567 397.52 40.557 397.4 40.607 C 397.27 40.657 397.17 40.747 397.12 40.867 C 397.06 40.987 397.05 41.127 397.1 41.247 C 397.15 41.377 397.24 41.477 397.36 41.527 L 400.08 42.787 C 400.08 42.787 400.08 42.787 400.08 42.787 C 400.52 42.987 400.99 43.127 401.47 43.217 C 401.97 43.307 402.49 43.357 403 43.347 C 403.51 43.357 404.03 43.307 404.53 43.217 C 405.01 43.127 405.48 42.987 405.92 42.787 C 405.92 42.787 405.92 42.787 405.92 42.787 L 406.174 42.669 C 406.236 42.564 406.312 42.465 406.4 42.377 C 406.69 42.097 407.07 41.937 407.46 41.937 L 407.754 41.937 Z " /></g></svg>
            <span class="tg_card_title_title">Figuras</span>
        </div>
        <span class="tg_card_sub">Ultimas figuras adicionados</span>
    </div>
    <div class="tg_user_info_post">
        {% for post in site.categories.Sticker limit: 5%}
        <div class="tg_info_post">
            <img src="{{post.image }}" alt="{{page.categories}}: {{page.title}}" width="64px" height="64px">
            <div class="tg_info_content">
            <span class="tg_info_post_title">{{post.title}}</span>
            <span class="tg_info_post_desc">{{post.content | truncate: 128}}</span>
            </div>
            <a href="{{post.url | prepend: site.url}}"><button class="tg_info_post_btn">Veja o pacote</button></a>
        </div>
        {%endfor%}
    </div>
    <a href="{{'/figuras' | prepend: site.url }}"><button class="tg_more_link">Veja todos as figuras</button></a>
</section>
