---
layout: default
title: Tags
permalink: /tags
categories: Página
---
<style>#nav-1{border-bottom: 3px solid #0088cc;}</style>
<section class="tg_categories">
    <div class="tg_cards" id="canais">
        <div class="tg_card_title">
           <span class="tg_card_title_title">#Tags</span>
        </div>
        <span class="tg_card_sub">Ultimos canais adicionados</span>
    </div>
    <div class="tg_user_info_post">
    {% for tag in site.tags %}{% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h1 class="content-title" id="{{ tag_name }}">#{{ tag_name }} <a href="#tags"><span>Subir</span></a></h1>
    {% for post in site.tags[tag_name] %}
    <div class="tg_info_post">
        <span class="tg_category">Tipo: {{post.categories}}</span>
        <img src="{{post.image }}" alt="{{page.categories}}: {{page.title}}" width="64px" height="64px">
        <div class="tg_info_content">
            <span class="tg_info_post_title">{{post.title}}</span>
            <span class="tg_info_post_desc">{{post.content | truncate: 128}}</span>
        </div>
        <a href="{{post.url | prepend: site.url}}"><button class="tg_info_post_btn">Veja o canal</button></a>
    </div>
    {% endfor %}{% endfor %}
    </div>   
</section>
