---
layout: default
title: Termos
permalink: /termos
categories: Página
---
<section class="tg_categories">
    <div class="tg_termos_header">
        <h1>Termos do site</h1>
        <h2>Para que alguma canal ou grupo possa ser adicionado a esse catálogo, deve concordadr com os termos desse site.</h2>
    </div>
    <div class="tg_termos_content" id="resticoes">
        <h1>Restrições</h1>
        <h3>Será restringido quaisquer canal, grupo, bot ou figura que contenha conteúdos ilícitos, tais como pornografia, pirataria, net free, phising, etc.</h3>
        <h3>Caso já esteja listado e possua algum tipo de conteúdo ilícito, será removido mediante denúncias.</h3>
    </div>
</section>
