*{
    margin: 0;
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e8e8e8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c;
}

a{
    color: #0088cc;
    text-decoration: none;
}
button{
    outline: 0;
    cursor: pointer;
}
body,button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.entry-header{
    display: block;
}

.tele-nav{
    color: #0088cc;
    font-size: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.tele-nav li{
    display: inline-block;
    padding: 15.5px 15px;
}

.tele-nav li:hover{
    border-bottom: 3px solid #0088cc;
}

.entry-header-title{
    color: #0088cc;
    font-size: 40px;
    padding: 40px 15px 15.5px;
    text-align: center;
}
.entry-header-title svg{
    fill: #0088cc;
    width: 80px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.entry-header-subtitle{
    font-size: 20px;
    text-align: center;
    color: #8c8c8c;
    font-weight: 400;
    width: 370px;
    margin: auto;
}

#search-container{
    display: block;
    width: 326px;
    margin: 40px auto;
}
#search-input{
    display: block;
    width: 300px;
    margin: auto;
    padding: 5px 10px;
    border: 3px solid #e8e8e8;
    outline: 0;
    color: #333;
}
#results-container{
    list-style: none;
    margin-top: 10px;
}

#results-container li{
    margin: 5px auto;
    padding: 10px 0;
    border-bottom: 2px solid #e8e8e8;
}
#results-container li img{
    display: inline-block;
    border-radius: 50px;
    width: 32px;
    height: auto;
    margin-right: 10px;
    vertical-align: top;
}
#results-container li span{
    display: inline-block;
    width: 258px;
}

.tg_categories{
    display: block;
    margin: 40px auto;
    width: 445px;
}

.tg_cards{
    margin: 10px;
}

.tg_card_title svg{
    fill: #4b422e;
    width: 30px;
    height: auto;
    margin-right: 10px;
    vertical-align: sub;
}
.tg_card_title_title{
    font-size: 30px;
}

.tg_card_sub{
    color: #8c8c8c;
    border-bottom: 3px solid #e8e8e8;
}
.tg_content{
    display: block;
    width: 445px;
    margin: 40px auto;
}
.tg_profile_img{
    display: inline-block;
    border-radius: 100px;
    vertical-align: top;
    margin-right: 30px;
}

.tg_profile_info{
    display: inline-block;
    width: 70%;
}
.tg_profile_title{
    font-size: 40px;
}
.tg_profile_desc{
    font-size: 15px;
    font-weight: 400;
    color: #8c8c8c;
}

.tg_bar{
    display: block;
    width: 250px;
    margin:40px auto 60px;
    border: 1px solid #e8e8e8;
}
.tg_btn{
    display: block;
    margin: auto;
    width: 200px;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    background: #33d684;
    outline: 0;
    color: #ffffff;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
}
.tg_btn:active{
    background-color: #28c275;
}

.sub_tg_btn{
    display: block;
    width: 200px;
    margin: 10px auto;
    text-align: center;
    font-size: 13px;
    color: #8c8c8c;
}

.tg_tags{
    display: block;
    margin: 10px auto;
    overflow: auto;
    height: 35px;
}
.tg_inner{
    display: block;
    width: max-content;
}
.tg_tags span{
    display: inline-block;
    padding: 0px 10px;
    border: 2px solid #e8e8e8;
}
.tg_info_post{
    display: block;
    border: 1px solid #e8e8e8;
    width: 420px;
    margin: 20px 10px;
}
.tg_info_post img{
    border-radius: 50px;
    vertical-align: top;
    margin-right: 20px;
    padding: 10px;
}
.tg_info_content{
    display: inline-block;
    width: 300px;
    padding: 10px 0;
}
.tg_info_post_title{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}
.tg_info_post_desc{
    display: block;
    font-size: 15px;
    color: #8c8c8c;
}

.tg_info_post_btn{
    display: block;
    width: 100%;
    border: 0px;
    padding: 5px;
    background: #33d684;
    color: #fff;
    margin-top: 20px;
}
.tg_info_post_btn:active{
    background-color: #28c275;
}
.tg_more_link{
    display: block;
    width: 200px;
    border: 0px;
    padding: 5px;
    background: #33d684;
    color: #fff;
    margin-left: 10px;
}
.tg_more_link:active{
    background-color: #28c275;
}
.content-title{
    margin-left: 10px;
}
.content-title span{
    font-size: 15px;
}

.tg_category{
    display: block;
    width: 100%;
    padding: 6px 0;
    background: #e8e8e8;
    color: #333;
    margin-bottom: 20px;
    text-indent: 10px;
}
.entry-footer{
    display: block;
    border-top: 1px solid #e8e8e8;
}
.content-footer{
    display: inline-block;
    width: 300px;
    padding: 15.5px 15px;
    vertical-align: top;
}
.content-footer .tg_footer_title_content{
    font-weight: 600;
    display: block;
    padding-bottom: 10px;
}
.content-footer .sub-content-footer{
    font-size: 12px;
}

.content-footer li{
    list-style: none;
    padding: 5px 0;
}
.tg_termos_header h2{
    font-size: 20px;
    color: #8c8c8c;
    font-weight: 400;
}
.tg_termos_content{
    margin-top: 30px;
}
.tg_termos_content h3{
    font-size: 15px;
    margin-top: 10px;
    font-weight: 400;
}

@media only screen and (max-width: 445px){
    .tg_info_post {
        width: 370px;
    }
    .tg_info_content {
        width: 260px;
    }
    .tg_categories, .tg_content {
        width: 370px;
    }
    .tg_profile_img {
        width: 48px;
        height: 48px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .tg_profile_title {
        font-size: 30px;
    }
}
@media only screen and (max-width: 375px){
    .tele-nav li {
        padding: 15.5px 7px;
    }
    .entry-header-subtitle {
        width: 300px;
    }
    #search-input {
        width: 250px;
    }
    #search-container {
        width: 276px;
    }
    .tg_info_post {
        width: 300px;
    }
    .tg_info_post img {
        width: 36px;
        height: auto;
    }
    .tg_info_content {
        width: 218px;
    }
    .tg_categories, .tg_content {
        width: 320px;
    }

}