<footer class="entry-footer">
    <div class="content-footer">
        <span class="tg_footer_title_content">{{site.title}}</span>
        <span class="sub-content-footer">O Catálogo Telegram é uma página que reune em um unico lugar, diversos canais, grupos, bots e figuras que estão presentes no Telegram. Está página não possui nenhuma ligação com o Telegram, sendo somente um site que reúne links e deixa disponível para facilitar a busca daqueles que quiserem encontrar algo na plataforma.</span>
    </div>
    <div class="content-footer">
        <span class="tg_footer_title_content">Sobre</span>
        <a href="/termos"><li>Termos</li></a>
        <a href="/duvidas"><li>Dúvidas</li></a>
    </div>
</footer>