<header class="entry-header">
    <nav class="tele-nav">
        <a href="{{site.url}}"><li id="nav-1">Inicio</li></a>
        <a href="{{'/canais'| prepend: site.url}}"><li id="nav-2">Canais</li></a>
        <a href="{{'/grupos'| prepend: site.url}}"><li id="nav-3">Grupos</li></a>
        <a href="{{'/bots'| prepend: site.url}}"><li id="nav-4">Bots</li></a>
        <a href="{{'/figuras'| prepend: site.url}}"><li id="nav-5">Figuras</li></a>
    </nav>
    <h1 class="entry-header-title"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 60 60" width="60pt" height="60pt"><defs><clipPath id="_clipPath_qBbE8ZjKqF8ViVsu4lQJkg5aZ4GQWd8K"><rect width="60" height="60"/></clipPath></defs><g clip-path="url(#_clipPath_qBbE8ZjKqF8ViVsu4lQJkg5aZ4GQWd8K)"><rect width="60" height="60" style="fill:rgb(0,0,0)" fill-opacity="0"/><circle vector-effect="non-scaling-stroke" cx="30" cy="30" r="30" fill="rgb(0,136,204)"/><path d=" M 36.461 44.565 L 25.939 37.751 C 24.263 36.666 24.073 34.651 25.515 33.256 L 34.081 24.968 C 37.081 22.065 36.731 21.613 33.299 23.958 L 21.172 32.246 C 19.522 33.373 16.693 33.663 14.858 32.893 L 11.353 31.421 C 10.21 30.941 9.639 30.306 9.639 29.669 C 9.639 29.035 10.204 28.399 11.335 27.91 L 40.833 15.156 C 41.361 14.927 41.851 14.819 42.287 14.819 C 42.287 14.819 42.287 14.819 42.287 14.819 C 43.546 14.819 44.358 15.721 44.358 17.236 C 44.358 17.236 44.358 17.236 44.358 17.236 C 44.358 17.449 44.342 17.674 44.309 17.911 L 40.868 42.476 C 40.518 44.977 38.543 45.914 36.461 44.565 Z  M 21.148 36.221 C 20.836 36.327 20.523 36.417 20.211 36.506 C 19.256 36.755 18.266 36.88 17.277 36.88 C 16.027 36.916 14.777 36.684 13.614 36.221 C 13.579 36.203 13.562 36.203 13.544 36.185 L 10.09 34.741 C 9.205 34.403 8.389 33.868 7.694 33.209 C 6.74 32.3 6.184 31.016 6.167 29.662 C 6.184 28.343 6.722 27.06 7.677 26.151 C 8.354 25.474 9.153 24.957 10.038 24.6 L 39.462 11.875 C 40.313 11.501 41.25 11.287 42.205 11.251 C 43.802 11.216 45.347 11.893 46.406 13.123 C 47.378 14.281 47.882 15.778 47.83 17.311 L 47.83 17.364 L 47.76 18.291 L 44.306 42.922 C 44.149 44.437 43.507 45.845 42.5 46.932 C 41.389 48.108 39.862 48.767 38.265 48.75 C 36.945 48.714 35.661 48.304 34.567 47.556 L 24.134 40.801 C 22.519 39.803 21.408 38.128 21.148 36.221 Z  M 47.83 17.311 C 47.83 17.347 47.83 17.382 47.83 17.418 L 47.83 17.24 L 47.83 17.311 Z " fill-rule="evenodd" fill="rgb(255,255,255)"/></g></svg> {{site.title}}</h1>
    <h2 class="entry-header-subtitle">Um catalogo de canais, grupos, bots e figuras que estão no Telegram</h2>

    <div id="search-container">
        <input type="text" id="search-input" placeholder="Faça uma busca por nomes, tags...">
        <ul id="results-container"></ul>
      </div>
</header>
<script src="{{ site.baseurl }}/js/simple-jekyll-search.min.js"></script>
<script>
    window.simpleJekyllSearch = new SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: '{{ site.baseurl }}/search.json',
        searchResultTemplate: '<li><a href="{url}?s={query}" title="{title}"><img src="{image}" width="24px"><span>{category}: {title}</span></a></li>',
        noResultsText: 'Não encontrei o que você procura',
        limit: 10,
        fuzzy: false,
        exclude: ['Welcome']
      })
</script>