<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.categories}}: {{ page.title | escape }} - Catalogo Telegram{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="{{'/tg.css' | prepend: site.url }}">
    <link href="https://fonts.googleapis.com/css?family=Lucida+Sans:400,600" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Verdana:400,600" rel="stylesheet" type="text/css">
    {%if page.layout contains 'default' %}
    <meta name="description" content="{{ site.description }}">
    {%endif%}

    <!-- Meta Tag -->
    <link rel="alternate" type="application/rss+xml" title="Canais, grupos e bots telegram" href="{{ '/feed.xml' | prepend: site.url }}" />
    
    <meta property="og:title" content="{% if page.title %}{{page.categories}}: {{ page.title | escape }} - Catalogo Telegram{% else %}{{ site.title | escape }}{% endif %}">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:locale" content="pt_BR"/>
    <meta property="og:url" content="{% if page.url %}{{ page.url | prepend: site.url }}{% else %}{{ site.url }}{% endif %}" />

    {%if page.path contains '_posts' %}
    <meta name="description" content="{{ page.content }}">
    <meta property="og:description" content="{{ page.content }}"/>
    <meta property="og:image" content="{{page.image}}">

    <meta property="al:ios:app_store_id" content="686449807">
    <meta property="al:ios:app_name" content="Telegram Messenger">
    <meta property="al:ios:url" content="tg://resolve?domain={{page.user}}">

    <meta property="al:android:url" content="tg://resolve?domain={{page.user}}">
    <meta property="al:android:app_name" content="Telegram">
    <meta property="al:android:package" content="org.telegram.messenger">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{page.content}}">
    <meta name="twitter:app:name:iphone" content="Telegram Messenger">
    <meta name="twitter:app:id:iphone" content="686449807">
    <meta name="twitter:app:url:iphone" content="tg://resolve?domain={{page.user}}">
    <meta name="twitter:app:name:ipad" content="Telegram Messenger">
    <meta name="twitter:app:id:ipad" content="686449807">
    <meta name="twitter:app:url:ipad" content="tg://resolve?domain={{page.user}}">
    <meta name="twitter:app:name:googleplay" content="Telegram">
    <meta name="twitter:app:id:googleplay" content="org.telegram.messenger">
    <meta name="twitter:app:url:googleplay" content="https://t.me/{{page.user}}">

    <meta name="apple-itunes-app" content="app-id=686449807, app-argument: tg://resolve?domain={{page.user}}">
    {%endif%}

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121936211-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121936211-2');
</script>

</head>