<!DOCTYPE html>
<html lang="pt-br">
{% include head.html %}
<body>
    {%include header.html%}
    <hr class="tg_bar">
    <section class="tg_categories">
        <div class="tg_content">
            <img class="tg_profile_img" src="{{page.image}}" alt="{{page.title}}" width="80px" height="80px">
            <div class="tg_profile_info">
                <h1 class="tg_profile_title">{{page.title}}</h1>
                <div class="tg_tags">
                    <div class="tg_inner">
                    {% assign tags = page.tags %}{% for tags in tags %}<a href="{{site.url}}/tags#{{tags}}"><span>#{{tags}}</span></a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
                    </div>
                </div>
                <h2 class="tg_profile_desc">{{page.content}}</h2>
            </div>
        </div>
        <a href="tg://resolve?domain={{page.user}}" rel="noopener noreferrer"><button class="tg_btn">Veja no Telegram</button></a>
        <span class="sub_tg_btn">Caso não consiga pelo botão, <a href="https://t.me/{{page.user}}" target="_blank" rel="noopener noreferrer">clique aqui</a>.</span>
    </section>
    {%include footer.html%}
</body>
</html>

